.idea/
template/*/.htaccess
template/*/.htaccess.txt
template/*/php.ini
template/*/robots.txt
template/*/index.php
template/*/config.php
template/*/admin/config.php
template/*/admin/index.php
template/*/storage/
template/*/index.html
template/*/download/
template/*/image/data/
template/*/image/cache/
template/*/system/cache/
template/*/system/logs/
template/*/system/storage/
template/*/system/theme_cache/
template/*/admin/view/javascript/bootstrap/
template/*/admin/view/javascript/codemirror/
template/*/admin/view/javascript/summernote/
template/*/admin/view/stylesheet/googleshopping/
template/*/admin/view/stylesheet/sass/
template/*/admin/view/stylesheet/bootstrap.scss
template/*/admin/view/stylesheet/bootstrap.css
template/*/catalog/view/javascript/bootstrap/
template/*/catalog/view/javascript/qrcode.js

quickstart/*/.htaccess
quickstart/*/.htaccess.txt
quickstart/*/php.ini
quickstart/*/robots.txt
quickstart/*/index.php
quickstart/*/config.php
quickstart/*/admin/config.php
quickstart/*/admin/index.php
quickstart/*/storage/
quickstart/*/index.html
quickstart/*/download/
quickstart/*/image/data/
quickstart/*/image/cache/
quickstart/*/system/cache/
quickstart/*/system/logs/
quickstart/*/system/storage/
quickstart/*/system/theme_cache/
quickstart/*/admin/view/javascript/bootstrap/
quickstart/*/admin/view/javascript/codemirror/
quickstart/*/admin/view/javascript/summernote/
quickstart/*/admin/view/stylesheet/googleshopping/
quickstart/*/admin/view/stylesheet/sass/
quickstart/*/admin/view/stylesheet/bootstrap.scss
quickstart/*/admin/view/stylesheet/bootstrap.css
quickstart/*/catalog/view/javascript/bootstrap/
quickstart/*/catalog/view/javascript/qrcode.js
